<div class="row row-parameter">
    <div class="col-md-3">
        <div class="form-group">
            <select name="parameter" class="form-control select2  get-parameter-value" onchange="getParameters(this)">
                <option selected disabled>Выбрать параметр</option>
                {% for p in parameters %}
                    <option value="{{ p.id }}">{{ p.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <select name="parameter-choice-value" id="" class="form-control select2 set-parameter-value">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" class="form-control" value="" name="parameter-custom-value">
        </div>
    </div>
    <button class="btn btn-danger delete-parameter">Удалить строку</button>
</div>